Repository origadmin/toolkits: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buf-format, buf-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: go fmt
        language: system
        types: [go]

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        types: [go.mod]

      - id: buf-format
        name: buf format
        entry: buf format --write
        language: system
        files: \.proto$

      - id: buf-lint
        name: buf lint
        entry: buf lint
        language: system
        files: \.proto$

docs(modules): Add analysis and improvement documents for runtime and toolkits modules
  docs/runtime/PROJECT_ANALYSIS_PREP.md
  docs/runtime/PROJECT_ANALYSIS_REPORT.md
  docs/runtime/PROJECT_GUIDELINES.md
  docs/toolkits/IMPROVEMENTS.md
  docs/toolkits/improvements/codec.md
  docs/toolkits/improvements/crypto.md
  docs/toolkits/improvements/env.md
  docs/toolkits/improvements/errors.md
  docs/toolkits/improvements/helpers.md
  docs/toolkits/improvements/identifier.md
  docs/toolkits/improvements/io.md
  docs/toolkits/improvements/mail.md
  docs/toolkits/improvements/metrics.md
Due: none

docs(gemini): Add Gemini agent guidelines for Git operations
  .github/workflows/release.yml
  .goreleaser.yaml
  GEMINI.md
Due: none

docs(project): Move PROJECT_GUIDELINES.md to root docs directory
  docs/PROJECT_GUIDELINES.md
Due: none

Squashed 'docs/templates/github/' content from commit 7799c45
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/config/repolinter-ruleset.json
  .github/profile/README.md
  .gitignore
  LICENSE
  README.md
  profile/README.md
Due: none

docs(GEMINI): update project information and guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/config/repolinter-ruleset.json
  .github/profile/README.md
  .github/workflows/main.yml
  .github/workflows/release.yml
  GEMINI.md
Due: none

docs(runtime): update project analysis and design documentation
  docs/runtime/PROJECT_ANALYSIS_PREP.md
Due: none

docs(runtime): update project analysis and design documentation
  docs/runtime/PROJECT_ANALYSIS_REPORT.md
Due: none

docs(gemini): Update GEMINI.md with Go module and Git subtree information
  GEMINI.md
Due: none

refactor(framework): Remove GitHub-related configuration and scripts
  docs/templates/github/.github/CODE_OF_CONDUCT.md
  docs/templates/github/.github/CONTRIBUTING.md
  docs/templates/github/.github/ISSUE_TEMPLATE.md
  docs/templates/github/.github/ISSUE_TEMPLATE/bug-report.md
  docs/templates/github/.github/ISSUE_TEMPLATE/feature-request.md
  docs/templates/github/.github/ISSUE_TEMPLATE/support-question.md
  docs/templates/github/.github/PULL_REQUEST_TEMPLATE.md
  docs/templates/github/.github/SECURITY.md
  docs/templates/github/.github/config/repolinter-ruleset.json
  docs/templates/github/.github/profile/README.md
  docs/templates/github/.gitignore
  docs/templates/github/LICENSE
  docs/templates/github/README.md
  docs/templates/github/profile/README.md
Due: none

chore(lint): clean up whitespace and formatting in various scripts and templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/support-question.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/SECURITY.md
  .github/scripts/git/release.sh
  .github/scripts/tag.sh
  .github/scripts/test.sh
  .github/scripts/update.sh
  .github/workflows/release_and_tagging.yml
  .gitignore
  IMPROVEMENTS.md
  README.md
  crypto/README.md
  crypto/hash/algorithms/noop/noop.go
  crypto/hash/factory.go
  errors/rpcerr/rpcerr.proto
Due: go-fmt, buf-format, buf-lint

feat(dev): implement subtree push workflow for monorepo management
  go.sum
Due: none

refactor(slogx): implement adptool-based code generation
  slogx/const.go
  slogx/log.adapter.go
  slogx/log.go
  slogx/option.go
  slogx/slogx.go
Due: go-fmt

feat(slogx): enhance logging functionality and rename types
  slogx/log.adapter.go
  slogx/log.go
  slogx/option.go
  slogx/slogx.go
Due: go-fmt

build(slogx): remove relative path from adptool command
  slogx/log.go
Due: go-fmt

feat(identifier): refactor identifier packages for better abstraction and flexibility
  identifier/go.mod
  identifier/go.sum
  identifier/identifier.go
  identifier/ksuid/ksuid.go
  identifier/ksuid/ksuid_test.go
  identifier/nanoid/nanoid.go
  identifier/nanoid/nanoid_test.go
  identifier/registry.go
  identifier/shortid/shortid.go
  identifier/shortid/shortid_test.go
  identifier/snowflake/snowflake.go
  identifier/snowflake/snowflake_test.go
  identifier/sonyflake/sonyflake.go
  identifier/sonyflake/sonyflake_test.go
  identifier/ulid/ulid.go
  identifier/ulid/ulid_test.go
  identifier/utils.go
  identifier/uuid/uuid.go
  identifier/uuid/uuid_test.go
  identifier/xid/xid.go
  identifier/xid/xid_test.go
Due: go-fmt

feat(identifier): add new unique ID generators and improve existing ones
  identifier/cuid2/cuid2.go
  identifier/cuid2/cuid2_test.go
  identifier/cuid2/go.mod
  identifier/cuid2/go.sum
  identifier/go.mod
  identifier/go.sum
  identifier/hashids/go.mod
  identifier/hashids/go.sum
  identifier/hashids/hashids.go
  identifier/hashids/hashids_test.go
  identifier/ksuid/go.mod
  identifier/ksuid/go.sum
  identifier/nanoid/go.mod
  identifier/nanoid/go.sum
  identifier/nanoid/nanoid.go
  identifier/shortid/go.mod
  identifier/shortid/shortid.go
  identifier/snowflake/go.mod
  identifier/snowflake/go.sum
  identifier/snowflake/snowflake.go
  identifier/snowflake/snowflake_test.go
  identifier/sonyflake/go.mod
  identifier/sonyflake/go.sum
  identifier/sonyflake/sonyflake.go
  identifier/sonyflake/sonyflake_test.go
  identifier/ulid/go.mod
  identifier/ulid/go.sum
  identifier/uuid/go.mod
  identifier/uuid/go.sum
  identifier/xid/go.mod
  identifier/xid/go.sum
Due: go-fmt

refactor(identifier): update interfaces and rename functions for consistency
  identifier/cuid2/cuid2.go
  identifier/cuid2/cuid2_test.go
  identifier/hashids/go.mod
  identifier/hashids/go.sum
  identifier/hashids/hashids.go
  identifier/hashids/hashids_test.go
  identifier/identifier.go
  identifier/ksuid/ksuid.go
  identifier/ksuid/ksuid_test.go
  identifier/nanoid/nanoid.go
  identifier/nanoid/nanoid_test.go
  identifier/registry.go
  identifier/shortid/shortid.go
  identifier/shortid/shortid_test.go
  identifier/snowflake/snowflake.go
  identifier/snowflake/snowflake_test.go
  identifier/sonyflake/sonyflake.go
  identifier/sonyflake/sonyflake_test.go
  identifier/ulid/ulid.go
  identifier/ulid/ulid_test.go
  identifier/uuid/uuid.go
  identifier/uuid/uuid_test.go
  identifier/xid/xid.go
  identifier/xid/xid_test.go
Due: go-fmt

chore(deps): update dependencies and add test requirements
  const.go
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  identifier/cuid2/go.mod
  identifier/cuid2/go.sum
  identifier/ksuid/go.mod
  identifier/ksuid/go.sum
  identifier/nanoid/go.mod
  identifier/nanoid/go.sum
  identifier/shortid/go.mod
  identifier/shortid/go.sum
  identifier/snowflake/go.mod
  identifier/snowflake/go.sum
  identifier/sonyflake/go.mod
  identifier/sonyflake/go.sum
  identifier/ulid/go.mod
  identifier/uuid/go.mod
  identifier/uuid/go.sum
  identifier/xid/go.mod
  identifier/xid/go.sum
Due: go-fmt

chore(ci): implement new continuous integration and release workflow
  .github/dependabot.yml
  .github/scripts/ci.sh
  .github/scripts/git/git_cmd.sh
  .github/scripts/git/git_tag.sh
  .github/scripts/git/release.sh
  .github/scripts/tag.sh
  .github/scripts/test-identifier.sh
  .github/scripts/test.sh
  .github/scripts/update.sh
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release_and_tagging.yml
Due: none

ci(release): add GitHub Actions workflow for releasing toolkits
  .github/dependabot.yml
Due: none

ci(toolkits): update release process and add sync to public repo
  .github/workflows/ci.yml
Due: none

refactor(errors): adapt external error handling packages
  const.go
  errors/code.go
  errors/code_test.go
  errors/errors.adapter.go
  errors/errors.go
  errors/multi.go
Due: go-fmt

refactor(errors): simplify and improve error handling
  errors/code.go
  errors/errors.adapter.go
  errors/errors.go
  errors/generate.go
  errors/multi.go
  errors/string.go
  errors/value.go
Due: go-fmt

refactor(errors): rename and restructure error handling functions
  errors/errors.adapter.go
  errors/errors.go
Due: go-fmt

build(deps): update github.com/goexts/generic to v0.4.0
  codec/go.mod
  crypto/hash/codec/codec.go
  crypto/hash/crypto.go
  crypto/hash/factory.go
  errors/errors.go
  errors/go.mod
  errors/go.sum
  errors/multi.go
  go.mod
  net/filter/bloom_filter.go
  net/filter/link_filter.go
  net/filter/string_filter.go
  net/host.go
  slogx/go.mod
  slogx/slogx.go
Due: go-fmt

refactor(errors): remove unused error handling packages
  errors/buf.gen.yaml
  errors/buf.lock
  errors/buf.yaml
  errors/httperr/http.go
  errors/httperr/http_test.go
  errors/rpcerr/rpc.go
  errors/rpcerr/rpc_test.go
  errors/rpcerr/rpcerr.pb.go
  errors/rpcerr/rpcerr.pb.validate.go
  errors/rpcerr/rpcerr.proto
Due: go-fmt, buf-format, buf-lint

refactor(codec): remove unused dependencies and update go version
  codec/go.mod
  codec/go.sum
  codec/toml/toml.go
  crypto/go.mod
  crypto/go.sum
  identifier/cuid2/go.mod
  identifier/nanoid/go.mod
  slogx/go.mod
  slogx/go.sum
Due: go-fmt

refactor(env): remove unused env package
  env/env.go
Due: go-fmt

fix(slogx): ensure default output is written to os.Stderr when no output option is specified
  slogx/option.go
  slogx/slogx.go
  slogx/slogx_test.go
Due: go-fmt

feat(slogx): rename WithFile to WithOutputFile and add deprecation
  slogx/option.go
  slogx/slogx_test.go
Due: go-fmt

feat(slogx): enhance logger with level, timestamp, and JSON format options
  slogx/slogx.go
  slogx/slogx_test.go
Due: go-fmt

refactor(slogx): extract default options to function and use configure.Apply for options
  go.mod
  go.sum
  slogx/option.go
  slogx/slogx.go
Due: go-fmt

refactor(filter): replace settings.Apply with configure.Apply and use cmp.Or for zero value handling
  net/filter/bloom_filter.go
  net/filter/filter_test.go
  net/filter/link.go
  net/filter/link_filter.go
  net/filter/string_filter.go
  net/host.go
Due: go-fmt

refactor(ci): Refactor CI/CD workflows to support automated publishing
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(build): Simplify the Makefile and remove lint steps
  .github/workflows/release.yml
  Makefile
Due: none

chore(deps): Clean up and update Go module dependencies
  codec/go.mod
  codec/go.sum
  crypto/go.mod
  crypto/go.sum
  go.mod
  go.sum
  identifier/cuid2/go.mod
  identifier/cuid2/go.sum
  identifier/ksuid/go.mod
  identifier/ksuid/go.sum
  identifier/nanoid/go.mod
  identifier/nanoid/go.sum
  identifier/shortid/go.mod
  identifier/shortid/go.sum
  identifier/snowflake/go.mod
  identifier/snowflake/go.sum
  identifier/sonyflake/go.mod
  identifier/sonyflake/go.sum
  identifier/ulid/go.mod
  identifier/ulid/go.sum
  identifier/uuid/go.mod
  identifier/uuid/go.sum
  identifier/xid/go.mod
  identifier/xid/go.sum
  slogx/go.mod
  slogx/go.sum
Due: none

chore(issue-templates): Refactor and standardize GitHub issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/support-question.md
  .github/ISSUE_TEMPLATE/testing.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/profile/README.md
  .github/scripts/ci.sh
  .github/scripts/test-identifier.sh
  .gitignore
  README.md
Due: none
